body {
    box-sizing: border-box;
}

#main, h2{
    padding: 32px 24px;
}

#text {
    display: inline-flex;
    flex-direction: column;
    padding: 0 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    height: 64px;
}

header .hyperlinks{
    display: inline-flex;
}

header .hyperlinks h6 {
    margin-left: 20px;
}

header img {
    height: 32px;
}

.banner {
    display: flex;
    background-color: lightgrey;
    width: 100%;
    align-items: center;
}

.banner img {
    width: 60%;
    padding: 24px;
}

.banner #text p {
    background-color: grey;
    padding: 8px 0;
}

.information {
    display: flex;
    align-items: center;
}

.information .main {
    width: 60%;
    margin-right: 24px;
}

.information .main img {
    width: 100%;
}

.information .dates {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.information .dates div {
    display: inline-flex;
}

.information .dates img {
    width: 35%;  
    padding: 16px 16px;
}

.start-learning {
    background-color: lightgrey;
}

.start-learning h2 {
    display: flex;
    justify-content: center;
}

.start-learning .courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 32px 72px;
}

#class {
    background-color: white;
    box-sizing: border-box;
    width: 80%;
    margin: 32px;
}

#class img {
    width: 100%;
}

#class h4, #class p {
    margin: 24px 16px;
}

.thesis-exhibit h2 {
    display: flex;
    justify-content: center;
}

.thesis-exhibit .container {
    display: flex;
    align-items: center;
}

.thesis-exhibit .container .video {
    padding: 0 24px;
    width: 60%;
}

.thesis-exhibit .container .video video {
    width: 100%;
}

.thesis-exhibit .thesis-subcategories .fisma, .now-then{
    display: flex;
    padding: 16px;
}

.thesis-exhibit .thesis-subcategories .fisma {
    background-color: lightgray;
}

.thesis-exhibit img {
    width: 35%;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer div {
    display: flex;
}
