body {
    box-sizing: border-box;
}

#main {
    padding: 32px 24px;
}

#text {
    display: inline-flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    height: 64px;
}

header .hyperlinks{
    display: inline-flex;
}

header .hyperlinks h6 {
    margin-left: 20px;
}

header img {
    height: 32px;
}

.banner {
    display: flex;
    background-color: lightgrey;
    width: 100%;
    align-items: center;
}

.banner img {
    width: 60%;
    padding: 24px;
}

.banner #text p {
    background-color: grey;
    padding: 8px 0;
}

.information {
    display: flex;
    align-items: center;
}

.information .main {
    width: 60%;
    margin-right: 24px;
}

.information .main img {
    width: 100%;
}

.information .dates {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.information .dates div {
    display: inline-flex;
}

.information .dates img {
    width: 35%;  
    padding: 16px 16px;
}
